{
  "openapi" : "3.0.1",
  "info" : {
    "contact" : {
      "email" : "apihelp@mailchimp.com",
      "name" : "Mailchimp API Support"
    },
    "title" : "Mailchimp Marketing API",
    "version" : "3.0.81",
    "x-permalink" : "https://github.com/mailchimp/mailchimp-client-lib-codegen/blob/main/spec/marketing.json"
  },
  "externalDocs" : {
    "description" : "Learn more with the full Mailchimp API documentation.",
    "url" : "https://mailchimp.com/developer/marketing/"
  },
  "servers" : [ {
    "url" : "https://server.api.mailchimp.com/3.0"
  } ],
  "security" : [ {
    "basicAuth" : [ ]
  } ],
  "paths" : {
    "/" : {
      "get" : {
        "deprecated" : false,
        "description" : "Get links to all other resources available in the API.",
        "operationId" : "getRoot",
        "parameters" : [ {
          "description" : "A comma-separated list of fields to return. Reference parameters of sub-objects with dot notation.",
          "explode" : false,
          "in" : "query",
          "name" : "fields",
          "schema" : {
            "items" : {
              "type" : "string"
            },
            "type" : "array",
            "x-title" : "Fields"
          },
          "style" : "form",
          "x-title" : "Fields"
        }, {
          "description" : "A comma-separated list of fields to exclude. Reference parameters of sub-objects with dot notation.",
          "explode" : false,
          "in" : "query",
          "name" : "exclude_fields",
          "schema" : {
            "items" : {
              "type" : "string"
            },
            "type" : "array",
            "x-title" : "Exclude Fields"
          },
          "style" : "form",
          "x-title" : "Exclude Fields"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/API_Root"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/API_Root"
                }
              }
            },
            "description" : ""
          },
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Problem_Detail_Document"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Problem_Detail_Document"
                }
              }
            },
            "description" : "An error generated by the Mailchimp API."
          }
        },
        "summary" : "List api root resources",
        "tags" : [ "root" ],
        "x-custom-config" : {
          "methodNameSnake" : "get_root",
          "methodNameCamel" : "getRoot"
        }
      }
    },
    "/activity-feed/chimp-chatter" : {
      "get" : {
        "description" : "Return the Chimp Chatter for this account ordered by most recent.",
        "operationId" : "getActivityFeedChimpChatter",
        "parameters" : [ {
          "description" : "The number of records to return. Default value is 10. Maximum value is 1000",
          "in" : "query",
          "name" : "count",
          "schema" : {
            "default" : 10,
            "maximum" : 1000,
            "type" : "integer",
            "x-title" : "Count"
          },
          "x-title" : "Count"
        }, {
          "description" : "Used for [pagination](https://mailchimp.com/developer/marketing/docs/methods-parameters/#pagination), this it the number of records from a collection to skip. Default value is 0.",
          "in" : "query",
          "name" : "offset",
          "schema" : {
            "default" : 0,
            "type" : "integer",
            "x-title" : "Offset"
          },
          "x-title" : "Offset"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getActivityFeedChimpChatter_200_response"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getActivityFeedChimpChatter_200_response"
                }
              }
            },
            "description" : "ChimpChatter Collection"
          },
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Problem_Detail_Document"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Problem_Detail_Document"
                }
              }
            },
            "description" : "An error generated by the Mailchimp API."
          }
        },
        "summary" : "Get latest chimp chatter",
        "tags" : [ "activityFeed" ],
        "x-custom-config" : {
          "methodNameSnake" : "get_chimp_chatter",
          "methodNameCamel" : "getChimpChatter"
        }
      }
    },
    "/account-exports" : {
      "get" : {
        "deprecated" : false,
        "description" : "Get a list of account exports for a given account.",
        "operationId" : "getAccountExports",
        "parameters" : [ {
          "description" : "A comma-separated list of fields to return. Reference parameters of sub-objects with dot notation.",
          "explode" : false,
          "in" : "query",
          "name" : "fields",
          "schema" : {
            "items" : {
              "type" : "string"
            },
            "type" : "array",
            "x-title" : "Fields"
          },
          "style" : "form",
          "x-title" : "Fields"
        }, {
          "description" : "A comma-separated list of fields to exclude. Reference parameters of sub-objects with dot notation.",
          "explode" : false,
          "in" : "query",
          "name" : "exclude_fields",
          "schema" : {
            "items" : {
              "type" : "string"
            },
            "type" : "array",
            "x-title" : "Exclude Fields"
          },
          "style" : "form",
          "x-title" : "Exclude Fields"
        }, {
          "description" : "The number of records to return. Default value is 10. Maximum value is 1000",
          "in" : "query",
          "name" : "count",
          "schema" : {
            "default" : 10,
            "maximum" : 1000,
            "type" : "integer",
            "x-title" : "Count"
          },
          "x-title" : "Count"
        }, {
          "description" : "Used for [pagination](https://mailchimp.com/developer/marketing/docs/methods-parameters/#pagination), this it the number of records from a collection to skip. Default value is 0.",
          "in" : "query",
          "name" : "offset",
          "schema" : {
            "default" : 0,
            "type" : "integer",
            "x-title" : "Offset"
          },
          "x-title" : "Offset"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getAccountExports_200_response"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getAccountExports_200_response"
                }
              }
            },
            "description" : ""
          },
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Problem_Detail_Document"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Problem_Detail_Document"
                }
              }
            },
            "description" : "An error generated by the Mailchimp API."
          }
        },
        "summary" : "List account exports",
        "tags" : [ "accountExports" ],
        "x-custom-config" : {
          "methodNameSnake" : "list_account_exports",
          "methodNameCamel" : "listAccountExports"
        }
      },
      "post" : {
        "deprecated" : false,
        "description" : "Create a new account export in your Mailchimp account.",
        "operationId" : "postAccountExport",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Create_an_account_export"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Account_Exports_inner"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Account_Exports_inner"
                }
              }
            },
            "description" : ""
          },
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Problem_Detail_Document"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Problem_Detail_Document"
                }
              }
            },
            "description" : "An error generated by the Mailchimp API."
          }
        },
        "summary" : "Add export",
        "tags" : [ "accountExports" ],
        "x-custom-config" : {
          "methodNameSnake" : "create_account_export",
          "methodNameCamel" : "createAccountExport"
        },
        "x-codegen-request-body-name" : "body"
      }
    },
    "/account-exports/{export_id}" : {
      "get" : {
        "deprecated" : false,
        "description" : "Get information about a specific account export.",
        "operationId" : "getAccountExportId",
        "parameters" : [ {
          "description" : "A comma-separated list of fields to return. Reference parameters of sub-objects with dot notation.",
          "explode" : false,
          "in" : "query",
          "name" : "fields",
          "schema" : {
            "items" : {
              "type" : "string"
            },
            "type" : "array",
            "x-title" : "Fields"
          },
          "style" : "form",
          "x-title" : "Fields"
        }, {
          "description" : "A comma-separated list of fields to exclude. Reference parameters of sub-objects with dot notation.",
          "explode" : false,
          "in" : "query",
          "name" : "exclude_fields",
          "schema" : {
            "items" : {
              "type" : "string"
            },
            "type" : "array",
            "x-title" : "Exclude Fields"
          },
          "style" : "form",
          "x-title" : "Exclude Fields"
        }, {
          "description" : "The unique id for the account export.",
          "in" : "path",
          "name" : "export_id",
          "required" : true,
          "schema" : {
            "type" : "string",
            "x-title" : "Export ID"
          },
          "x-title" : "Export ID"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Account_Exports_inner"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Account_Exports_inner"
                }
              }
            },
            "description" : ""
          },
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Problem_Detail_Document"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Problem_Detail_Document"
                }
              }
            },
            "description" : "An error generated by the Mailchimp API."
          }
        },
        "summary" : "Get account export info",
        "tags" : [ "accountExport" ],
        "x-custom-config" : {
          "methodNameSnake" : "get_account_exports",
          "methodNameCamel" : "getAccountExports"
        }
      }
    },
    "/authorized-apps" : {
      "get" : {
        "deprecated" : false,
        "description" : "Get a list of an account's registered, connected applications.",
        "operationId" : "getAuthorizedApps",
        "parameters" : [ {
          "description" : "A comma-separated list of fields to return. Reference parameters of sub-objects with dot notation.",
          "explode" : false,
          "in" : "query",
          "name" : "fields",
          "schema" : {
            "items" : {
              "type" : "string"
            },
            "type" : "array",
            "x-title" : "Fields"
          },
          "style" : "form",
          "x-title" : "Fields"
        }, {
          "description" : "A comma-separated list of fields to exclude. Reference parameters of sub-objects with dot notation.",
          "explode" : false,
          "in" : "query",
          "name" : "exclude_fields",
          "schema" : {
            "items" : {
              "type" : "string"
            },
            "type" : "array",
            "x-title" : "Exclude Fields"
          },
          "style" : "form",
          "x-title" : "Exclude Fields"
        }, {
          "description" : "The number of records to return. Default value is 10. Maximum value is 1000",
          "in" : "query",
          "name" : "count",
          "schema" : {
            "default" : 10,
            "maximum" : 1000,
            "type" : "integer",
            "x-title" : "Count"
          },
          "x-title" : "Count"
        }, {
          "description" : "Used for [pagination](https://mailchimp.com/developer/marketing/docs/methods-parameters/#pagination), this it the number of records from a collection to skip. Default value is 0.",
          "in" : "query",
          "name" : "offset",
          "schema" : {
            "default" : 0,
            "type" : "integer",
            "x-title" : "Offset"
          },
          "x-title" : "Offset"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getAuthorizedApps_200_response"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getAuthorizedApps_200_response"
                }
              }
            },
            "description" : ""
          },
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Problem_Detail_Document"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Problem_Detail_Document"
                }
              }
            },
            "description" : "An error generated by the Mailchimp API."
          }
        },
        "summary" : "List authorized apps",
        "tags" : [ "authorizedApps" ],
        "x-custom-config" : {
          "methodNameSnake" : "list",
          "methodNameCamel" : "list"
        }
      }
    },
    "/authorized-apps/{app_id}" : {
      "get" : {
        "deprecated" : false,
        "description" : "Get information about a specific authorized application.",
        "operationId" : "getAuthorizedAppsId",
        "parameters" : [ {
          "description" : "A comma-separated list of fields to return. Reference parameters of sub-objects with dot notation.",
          "explode" : false,
          "in" : "query",
          "name" : "fields",
          "schema" : {
            "items" : {
              "type" : "string"
            },
            "type" : "array",
            "x-title" : "Fields"
          },
          "style" : "form",
          "x-title" : "Fields"
        }, {
          "description" : "A comma-separated list of fields to exclude. Reference parameters of sub-objects with dot notation.",
          "explode" : false,
          "in" : "query",
          "name" : "exclude_fields",
          "schema" : {
            "items" : {
              "type" : "string"
            },
            "type" : "array",
            "x-title" : "Exclude Fields"
          },
          "style" : "form",
          "x-title" : "Exclude Fields"
        }, {
          "description" : "The unique id for the connected authorized application.",
          "in" : "path",
          "name" : "app_id",
          "required" : true,
          "schema" : {
            "type" : "string",
            "x-title" : "App ID"
          },
          "x-title" : "App ID"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Authorized_Applications_inner"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Authorized_Applications_inner"
                }
              }
            },
            "description" : ""
          },
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Problem_Detail_Document"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Problem_Detail_Document"
                }
              }
            },
            "description" : "An error generated by the Mailchimp API."
          }
        },
        "summary" : "Get authorized app info",
        "tags" : [ "authorizedApps" ],
        "x-custom-config" : {
          "methodNameSnake" : "get",
          "methodNameCamel" : "get"
        }
      }
    },
    "/automations" : {
      "get" : {
        "deprecated" : false,
        "description" : "Get a summary of an account's classic automations.",
        "operationId" : "getAutomations",
        "parameters" : [ {
          "description" : "The number of records to return. Default value is 10. Maximum value is 1000",
          "in" : "query",
          "name" : "count",
          "schema" : {
            "default" : 10,
            "maximum" : 1000,
            "type" : "integer",
            "x-title" : "Count"
          },
          "x-title" : "Count"
        }, {
          "description" : "Used for [pagination](https://mailchimp.com/developer/marketing/docs/methods-parameters/#pagination), this it the number of records from a collection to skip. Default value is 0.",
          "in" : "query",
          "name" : "offset",
          "schema" : {
            "default" : 0,
            "type" : "integer",
            "x-title" : "Offset"
          },
          "x-title" : "Offset"
        }, {
          "description" : "A comma-separated list of fields to return. Reference parameters of sub-objects with dot notation.",
          "explode" : false,
          "in" : "query",
          "name" : "fields",
          "schema" : {
            "items" : {
              "type" : "string"
            },
            "type" : "array",
            "x-title" : "Fields"
          },
          "style" : "form",
          "x-title" : "Fields"
        }, {
          "description" : "A comma-separated list of fields to exclude. Reference parameters of sub-objects with dot notation.",
          "explode" : false,
          "in" : "query",
          "name" : "exclude_fields",
          "schema" : {
            "items" : {
              "type" : "string"
            },
            "type" : "array",
            "x-title" : "Exclude Fields"
          },
          "style" : "form",
          "x-title" : "Exclude Fields"
        }, {
          "description" : "Restrict the response to automations created before this time. Uses the ISO 8601 time format: 2015-10-21T15:41:36+00:00.",
          "in" : "query",
          "name" : "before_create_time",
          "schema" : {
            "format" : "date-time",
            "type" : "string",
            "x-title" : "Before Create Time"
          },
          "x-title" : "Before Create Time"
        }, {
          "description" : "Restrict the response to automations created after this time. Uses the ISO 8601 time format: 2015-10-21T15:41:36+00:00.",
          "in" : "query",
          "name" : "since_create_time",
          "schema" : {
            "format" : "date-time",
            "type" : "string",
            "x-title" : "Since Create Time"
          },
          "x-title" : "Since Create Time"
        }, {
          "description" : "Restrict the response to automations started before this time. Uses the ISO 8601 time format: 2015-10-21T15:41:36+00:00.",
          "in" : "query",
          "name" : "before_start_time",
          "schema" : {
            "format" : "date-time",
            "type" : "string",
            "x-title" : "Before Start Time"
          },
          "x-title" : "Before Start Time"
        }, {
          "description" : "Restrict the response to automations started after this time. Uses the ISO 8601 time format: 2015-10-21T15:41:36+00:00.",
          "in" : "query",
          "name" : "since_start_time",
          "schema" : {
            "format" : "date-time",
            "type" : "string",
            "x-title" : "Since Start Time"
          },
          "x-title" : "Since Start Time"
        }, {
          "description" : "Restrict the results to automations with the specified status.",
          "in" : "query",
          "name" : "status",
          "schema" : {
            "enum" : [ "save", "paused", "sending" ],
            "type" : "string",
            "x-title" : "Status"
          },
          "x-title" : "Status"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getAutomations_200_response"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getAutomations_200_response"
                }
              }
            },
            "description" : ""
          },
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Problem_Detail_Document"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Problem_Detail_Document"
                }
              }
            },
            "description" : "An error generated by the Mailchimp API."
          }
        },
        "summary" : "List automations",
        "tags" : [ "automations" ],
        "x-custom-config" : {
          "methodNameSnake" : "list",
          "methodNameCamel" : "list"
        }
      },
      "post" : {
        "deprecated" : false,
        "description" : "Create a new classic automation in your Mailchimp account.",
        "operationId" : "postAutomations",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Automation_Workflow_1"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Automation_Workflow"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Automation_Workflow"
                }
              }
            },
            "description" : ""
          },
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Problem_Detail_Document"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Problem_Detail_Document"
                }
              }
            },
            "description" : "An error generated by the Mailchimp API."
          }
        },
        "summary" : "Add automation",
        "tags" : [ "automations" ],
        "x-custom-config" : {
          "methodNameSnake" : "create",
          "methodNameCamel" : "create"
        },
        "x-codegen-request-body-name" : "body"
      }
    },
    "/automations/{workflow_id}" : {
      "get" : {
        "description" : "Get a summary of an individual classic automation workflow's settings and content. The `trigger_settings` object returns information for the first email in the workflow.",
        "operationId" : "getAutomationsId",
        "parameters" : [ {
          "description" : "A comma-separated list of fields to return. Reference parameters of sub-objects with dot notation.",
          "explode" : false,
          "in" : "query",
          "name" : "fields",
          "schema" : {
            "items" : {
              "type" : "string"
            },
            "type" : "array",
            "x-title" : "Fields"
          },
          "style" : "form",
          "x-title" : "Fields"
        }, {
          "description" : "A comma-separated list of fields to exclude. Reference parameters of sub-objects with dot notation.",
          "explode" : false,
          "in" : "query",
          "name" : "exclude_fields",
          "schema" : {
            "items" : {
              "type" : "string"
            },
            "type" : "array",
            "x-title" : "Exclude Fields"
          },
          "style" : "form",
          "x-title" : "Exclude Fields"
        }, {
          "description" : "The unique id for the Automation workflow.",
          "in" : "path",
          "name" : "workflow_id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Automation_Workflow"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Automation_Workflow"
                }
              }
            },
            "description" : ""
          },
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Problem_Detail_Document"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Problem_Detail_Document"
                }
              }
            },
            "description" : "An error generated by the Mailchimp API."
          }
        },
        "summary" : "Get automation info",
        "tags" : [ "automations" ],
        "x-custom-config" : {
          "methodNameSnake" : "get",
          "methodNameCamel" : "get"
        }
      }
    },
    "/automations/{workflow_id}/actions/pause-all-emails" : {
      "post" : {
        "deprecated" : false,
        "description" : "Pause all emails in a specific classic automation workflow.",
        "operationId" : "postAutomationsIdActionsPauseAllEmails",
        "parameters" : [ {
          "description" : "The unique id for the Automation workflow.",
          "in" : "path",
          "name" : "workflow_id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "content" : { },
            "description" : "Empty Response"
          },
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Problem_Detail_Document"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Problem_Detail_Document"
                }
              }
            },
            "description" : "An error generated by the Mailchimp API."
          }
        },
        "summary" : "Pause automation emails",
        "tags" : [ "automations" ],
        "x-custom-config" : {
          "methodNameSnake" : "pause_all_emails",
          "methodNameCamel" : "pauseAllEmails"
        }
      }
    },
    "/automations/{workflow_id}/actions/start-all-emails" : {
      "post" : {
        "deprecated" : false,
        "description" : "Start all emails in a classic automation workflow.",
        "operationId" : "postAutomationsIdActionsStartAllEmails",
        "parameters" : [ {
          "description" : "The unique id for the Automation workflow.",
          "in" : "path",
          "name" : "workflow_id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "content" : { },
            "description" : "Empty Response"
          },
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Problem_Detail_Document"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Problem_Detail_Document"
                }
              }
            },
            "description" : "An error generated by the Mailchimp API."
          }
        },
        "summary" : "Start automation emails",
        "tags" : [ "automations" ],
        "x-custom-config" : {
          "methodNameSnake" : "start_all_emails",
          "methodNameCamel" : "startAllEmails"
        }
      }
    },
    "/automations/{workflow_id}/actions/archive" : {
      "post" : {
        "deprecated" : false,
        "description" : "Archiving will permanently end your automation and keep the report data. You’ll be able to replicate your archived automation, but you can’t restart it.",
        "operationId" : "archiveAutomations",
        "parameters" : [ {
          "description" : "The unique id for the Automation workflow.",
          "in" : "path",
          "name" : "workflow_id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "content" : { },
            "description" : "Empty Response"
          },
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Problem_Detail_Document"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Problem_Detail_Document"
                }
              }
            },
            "description" : "An error generated by the Mailchimp API."
          }
        },
        "summary" : "Archive automation",
        "tags" : [ "automations" ],
        "x-custom-config" : {
          "methodNameSnake" : "archive",
          "methodNameCamel" : "archive"
        }
      }
    },
    "/automations/{workflow_id}/emails" : {
      "get" : {
        "deprecated" : false,
        "description" : "Get a summary of the emails in a classic automation workflow.",
        "operationId" : "getAutomationsIdEmails",
        "parameters" : [ {
          "description" : "The unique id for the Automation workflow.",
          "in" : "path",
          "name" : "workflow_id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Automation_Emails"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Automation_Emails"
                }
              }
            },
            "description" : ""
          },
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Problem_Detail_Document"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Problem_Detail_Document"
                }
              }
            },
            "description" : "An error generated by the Mailchimp API."
          }
        },
        "summary" : "List automated emails",
        "tags" : [ "automations" ],
        "x-custom-config" : {
          "methodNameSnake" : "list_all_workflow_emails",
          "methodNameCamel" : "listAllWorkflowEmails"
        }
      }
    },
    "/automations/{workflow_id}/emails/{workflow_email_id}" : {
      "delete" : {
        "deprecated" : false,
        "description" : "Removes an individual classic automation workflow email. Emails from certain workflow types, including the Abandoned Cart Email (abandonedCart) and Product Retargeting Email (abandonedBrowse) Workflows, cannot be deleted.",
        "operationId" : "deleteAutomationsIdEmailsId",
        "parameters" : [ {
          "description" : "The unique id for the Automation workflow.",
          "in" : "path",
          "name" : "workflow_id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The unique id for the Automation workflow email.",
          "in" : "path",
          "name" : "workflow_email_id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "content" : { },
            "description" : "Empty Response"
          },
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Problem_Detail_Document"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Problem_Detail_Document"
                }
              }
            },
            "description" : "An error generated by the Mailchimp API."
          }
        },
        "summary" : "Delete workflow email",
        "tags" : [ "automations" ],
        "x-custom-config" : {
          "methodNameSnake" : "delete_workflow_email",
          "methodNameCamel" : "deleteWorkflowEmail"
        }
      },
      "get" : {
        "deprecated" : false,
        "description" : "Get information about an individual classic automation workflow email.",
        "operationId" : "getAutomationsIdEmailsId",
        "parameters" : [ {
          "description" : "The unique id for the Automation workflow.",
          "in" : "path",
          "name" : "workflow_id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The unique id for the Automation workflow email.",
          "in" : "path",
          "name" : "workflow_email_id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Automation_Workflow_Email"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Automation_Workflow_Email"
                }
              }
            },
            "description" : ""
          },
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Problem_Detail_Document"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Problem_Detail_Document"
                }
              }
            },
            "description" : "An error generated by the Mailchimp API."
          }
        },
        "summary" : "Get workflow email info",
        "tags" : [ "automations" ],
        "x-custom-config" : {
          "methodNameSnake" : "get_workflow_email",
          "methodNameCamel" : "getWorkflowEmail"
        }
      },
      "patch" : {
        "description" : "Update settings for a classic automation workflow email.  Only works with workflows of type: abandonedBrowse, abandonedCart, emailFollowup, or singleWelcome.",
        "operationId" : "patchAutomationEmailWorkflowId",
        "parameters" : [ {
          "description" : "The unique id for the Automation workflow.",
          "in" : "path",
          "name" : "workflow_id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The unique id for the Automation workflow email.",
          "in" : "path",
          "name" : "workflow_email_id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Update_information_about_a_specific_workflow_email"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Automation_Workflow_Email"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Automation_Workflow_Email"
                }
              }
            },
            "description" : ""
          },
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Problem_Detail_Document"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Problem_Detail_Document"
                }
              }
            },
            "description" : "An error generated by the Mailchimp API."
          }
        },
        "summary" : "Update workflow email",
        "tags" : [ "automations" ],
        "x-custom-config" : {
          "methodNameSnake" : "update_workflow_email",
          "methodNameCamel" : "updateWorkflowEmail"
        },
        "x-codegen-request-body-name" : "body"
      }
    },
    "/automations/{workflow_id}/emails/{workflow_email_id}/queue" : {
      "get" : {
        "deprecated" : false,
        "description" : "Get information about a classic automation email queue.",
        "operationId" : "getAutomationsIdEmailsIdQueue",
        "parameters" : [ {
          "description" : "The unique id for the Automation workflow.",
          "in" : "path",
          "name" : "workflow_id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The unique id for the Automation workflow email.",
          "in" : "path",
          "name" : "workflow_email_id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getAutomationsIdEmailsIdQueue_200_response"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getAutomationsIdEmailsIdQueue_200_response"
                }
              }
            },
            "description" : ""
          },
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Problem_Detail_Document"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Problem_Detail_Document"
                }
              }
            },
            "description" : "An error generated by the Mailchimp API."
          }
        },
        "summary" : "List automated email subscribers",
        "tags" : [ "automations" ],
        "x-custom-config" : {
          "methodNameSnake" : "get_workflow_email_subscriber_queue",
          "methodNameCamel" : "getWorkflowEmailSubscriberQueue"
        }
      },
      "post" : {
        "deprecated" : false,
        "description" : "Manually add a subscriber to a workflow, bypassing the default trigger settings. You can also use this endpoint to trigger a series of automated emails in an API 3.0 workflow type.",
        "operationId" : "postAutomationsIdEmailsIdQueue",
        "parameters" : [ {
          "description" : "The unique id for the Automation workflow.",
          "in" : "path",
          "name" : "workflow_id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The unique id for the Automation workflow email.",
          "in" : "path",
          "name" : "workflow_email_id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Subscriber_in_Automation_Queue_1"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Subscriber_in_Automation_Queue_2"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Subscriber_in_Automation_Queue_2"
                }
              }
            },
            "description" : ""
          },
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Problem_Detail_Document"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Problem_Detail_Document"
                }
              }
            },
            "description" : "An error generated by the Mailchimp API."
          }
        },
        "summary" : "Add subscriber to workflow email",
        "tags" : [ "automations" ],
        "x-custom-config" : {
          "methodNameSnake" : "add_workflow_email_subscriber",
          "methodNameCamel" : "addWorkflowEmailSubscriber"
        },
        "x-codegen-request-body-name" : "body"
      }
    },
    "/automations/{workflow_id}/emails/{workflow_email_id}/queue/{subscriber_hash}" : {
      "get" : {
        "deprecated" : false,
        "description" : "Get information about a specific subscriber in a classic automation email queue.",
        "operationId" : "getAutomationsIdEmailsIdQueueId",
        "parameters" : [ {
          "description" : "The unique id for the Automation workflow.",
          "in" : "path",
          "name" : "workflow_id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The unique id for the Automation workflow email.",
          "in" : "path",
          "name" : "workflow_email_id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The MD5 hash of the lowercase version of the list member's email address.",
          "in" : "path",
          "name" : "subscriber_hash",
          "required" : true,
          "schema" : {
            "type" : "string",
            "x-title" : "Subscriber Hash"
          },
          "x-title" : "Subscriber Hash"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Subscriber_in_Automation_Queue_2"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Subscriber_in_Automation_Queue_2"
                }
              }
            },
            "description" : ""
          },
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Problem_Detail_Document"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Problem_Detail_Document"
                }
              }
            },
            "description" : "An error generated by the Mailchimp API."
          }
        },
        "summary" : "Get automated email subscriber",
        "tags" : [ "automations" ],
        "x-custom-config" : {
          "methodNameSnake" : "get_workflow_email_subscriber",
          "methodNameCamel" : "getWorkflowEmailSubscriber"
        }
      }
    },
    "/automations/{workflow_id}/emails/{workflow_email_id}/actions/pause" : {
      "post" : {
        "deprecated" : false,
        "description" : "Pause an automated email.",
        "operationId" : "postAutomationsIdEmailsIdActionsPause",
        "parameters" : [ {
          "description" : "The unique id for the Automation workflow.",
          "in" : "path",
          "name" : "workflow_id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The unique id for the Automation workflow email.",
          "in" : "path",
          "name" : "workflow_email_id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "content" : { },
            "description" : "Empty Response"
          },
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Problem_Detail_Document"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Problem_Detail_Document"
                }
              }
            },
            "description" : "An error generated by the Mailchimp API."
          }
        },
        "summary" : "Pause automated email",
        "tags" : [ "automations" ],
        "x-custom-config" : {
          "methodNameSnake" : "pause_workflow_email",
          "methodNameCamel" : "pauseWorkflowEmail"
        }
      }
    },
    "/automations/{workflow_id}/emails/{workflow_email_id}/actions/start" : {
      "post" : {
        "deprecated" : false,
        "description" : "Start an automated email.",
        "operationId" : "postAutomationsIdEmailsIdActionsStart",
        "parameters" : [ {
          "description" : "The unique id for the Automation workflow.",
          "in" : "path",
          "name" : "workflow_id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The unique id for the Automation workflow email.",
          "in" : "path",
          "name" : "workflow_email_id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "content" : { },
            "description" : "Empty Response"
          },
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Problem_Detail_Document"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Problem_Detail_Document"
                }
              }
            },
            "description" : "An error generated by the Mailchimp API."
          }
        },
        "summary" : "Start automated email",
        "tags" : [ "automations" ],
        "x-custom-config" : {
          "methodNameSnake" : "start_workflow_email",
          "methodNameCamel" : "startWorkflowEmail"
        }
      }
    },
    "/automations/{workflow_id}/removed-subscribers" : {
      "get" : {
        "deprecated" : false,
        "description" : "Get information about subscribers who were removed from a classic automation workflow.",
        "operationId" : "getAutomationsIdRemovedSubscribers",
        "parameters" : [ {
          "description" : "The unique id for the Automation workflow.",
          "in" : "path",
          "name" : "workflow_id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Removed_Subscribers"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Removed_Subscribers"
                }
              }
            },
            "description" : ""
          },
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Problem_Detail_Document"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Problem_Detail_Document"
                }
              }
            },
            "description" : "An error generated by the Mailchimp API."
          }
        },
        "summary" : "List subscribers removed from workflow",
        "tags" : [ "automations" ],
        "x-custom-config" : {
          "methodNameSnake" : "list_workflow_email_subscribers_removed",
          "methodNameCamel" : "listWorkflowEmailSubscribersRemoved"
        }
      },
      "post" : {
        "deprecated" : false,
        "description" : "Remove a subscriber from a specific classic automation workflow. You can remove a subscriber at any point in an automation workflow, regardless of how many emails they've been sent from that workflow. Once they're removed, they can never be added back to the same workflow.",
        "operationId" : "postAutomationsIdRemovedSubscribers",
        "parameters" : [ {
          "description" : "The unique id for the Automation workflow.",
          "in" : "path",
          "name" : "workflow_id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Subscriber_in_Automation_Queue_1"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Subscriber_Removed_from_Automation_Workflow"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Subscriber_Removed_from_Automation_Workflow"
                }
              }
            },
            "description" : ""
          },
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Problem_Detail_Document"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Problem_Detail_Document"
                }
              }
            },
            "description" : "An error generated by the Mailchimp API."
          }
        },
        "summary" : "Remove subscriber from workflow",
        "tags" : [ "automations" ],
        "x-custom-config" : {
          "methodNameSnake" : "remove_workflow_email_subscriber",
          "methodNameCamel" : "removeWorkflowEmailSubscriber"
        },
        "x-codegen-request-body-name" : "body"
      }
    },
    "/automations/{workflow_id}/removed-subscribers/{subscriber_hash}" : {
      "get" : {
        "deprecated" : false,
        "description" : "Get information about a specific subscriber who was removed from a classic automation workflow.",
        "operationId" : "getAutomationsIdRemovedSubscribersId",
        "parameters" : [ {
          "description" : "The unique id for the Automation workflow.",
          "in" : "path",
          "name" : "workflow_id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The MD5 hash of the lowercase version of the list member's email address.",
          "in" : "path",
          "name" : "subscriber_hash",
          "required" : true,
          "schema" : {
            "type" : "string",
            "x-title" : "Subscriber Hash"
          },
          "x-title" : "Subscriber Hash"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Subscriber_Removed_from_Automation_Workflow"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Subscriber_Removed_from_Automation_Workflow"
                }
              }
            },
            "description" : ""
          },
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Problem_Detail_Document"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Problem_Detail_Document"
                }
              }
            },
            "description" : "An error generated by the Mailchimp API."
          }
        },
        "summary" : "Get subscriber removed from workflow",
        "tags" : [ "automations" ],
        "x-custom-config" : {
          "methodNameSnake" : "get_removed_workflow_email_subscriber",
          "methodNameCamel" : "getRemovedWorkflowEmailSubscriber"
        }
      }
    },
    "/batches" : {
      "get" : {
        "deprecated" : false,
        "description" : "Get a summary of batch requests that have been made.",
        "operationId" : "getBatches",
        "parameters" : [ {
          "description" : "A comma-separated list of fields to return. Reference parameters of sub-objects with dot notation.",
          "explode" : false,
          "in" : "query",
          "name" : "fields",
          "schema" : {
            "items" : {
              "type" : "string"
            },
            "type" : "array",
            "x-title" : "Fields"
          },
          "style" : "form",
          "x-title" : "Fields"
        }, {
          "description" : "A comma-separated list of fields to exclude. Reference parameters of sub-objects with dot notation.",
          "explode" : false,
          "in" : "query",
          "name" : "exclude_fields",
          "schema" : {
            "items" : {
              "type" : "string"
            },
            "type" : "array",
            "x-title" : "Exclude Fields"
          },
          "style" : "form",
          "x-title" : "Exclude Fields"
        }, {
          "description" : "The number of records to return. Default value is 10. Maximum value is 1000",
          "in" : "query",
          "name" : "count",
          "schema" : {
            "default" : 10,
            "maximum" : 1000,
            "type" : "integer",
            "x-title" : "Count"
          },
          "x-title" : "Count"
        }, {
          "description" : "Used for [pagination](https://mailchimp.com/developer/marketing/docs/methods-parameters/#pagination), this it the number of records from a collection to skip. Default value is 0.",
          "in" : "query",
          "name" : "offset",
          "schema" : {
            "default" : 0,
            "type" : "integer",
            "x-title" : "Offset"
          },
          "x-title" : "Offset"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Batch_Operations"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Batch_Operations"
                }
              }
            },
            "description" : ""
          },
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Problem_Detail_Document"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Problem_Detail_Document"
                }
              }
            },
            "description" : "An error generated by the Mailchimp API."
          }
        },
        "summary" : "List batch requests",
        "tags" : [ "batches" ],
        "x-custom-config" : {
          "methodNameSnake" : "list",
          "methodNameCamel" : "list"
        }
      },
      "post" : {
        "deprecated" : false,
        "description" : "Begin processing a batch operations request.",
        "operationId" : "postBatches",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/postBatches_request"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Batch"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Batch"
                }
              }
            },
            "description" : ""
          },
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Problem_Detail_Document"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Problem_Detail_Document"
                }
              }
            },
            "description" : "An error generated by the Mailchimp API."
          }
        },
        "summary" : "Start batch operation",
        "tags" : [ "batches" ],
        "x-custom-config" : {
          "methodNameSnake" : "start",
          "methodNameCamel" : "start"
        },
        "x-codegen-request-body-name" : "body"
      }
    },
    "/batches/{batch_id}" : {
      "delete" : {
        "deprecated" : false,
        "description" : "Stops a batch request from running. Since only one batch request is run at a time, this can be used to cancel a long running request. The results of any completed operations will not be available after this call.",
        "operationId" : "deleteBatchesId",
        "parameters" : [ {
          "description" : "The unique id for the batch operation.",
          "in" : "path",
          "name" : "batch_id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "content" : { },
            "description" : "Empty Response"
          },
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Problem_Detail_Document"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Problem_Detail_Document"
                }
              }
            },
            "description" : "An error generated by the Mailchimp API."
          }
        },
        "summary" : "Delete batch request",
        "tags" : [ "batches" ],
        "x-custom-config" : {
          "methodNameSnake" : "delete_request",
          "methodNameCamel" : "deleteRequest"
        }
      },
      "get" : {
        "deprecated" : false,
        "description" : "Get the status of a batch request.",
        "operationId" : "getBatchesId",
        "parameters" : [ {
          "description" : "A comma-separated list of fields to return. Reference parameters of sub-objects with dot notation.",
          "explode" : false,
          "in" : "query",
          "name" : "fields",
          "schema" : {
            "items" : {
              "type" : "string"
            },
            "type" : "array",
            "x-title" : "Fields"
          },
          "style" : "form",
          "x-title" : "Fields"
        }, {
          "description" : "A comma-separated list of fields to exclude. Reference parameters of sub-objects with dot notation.",
          "explode" : false,
          "in" : "query",
          "name" : "exclude_fields",
          "schema" : {
            "items" : {
              "type" : "string"
            },
            "type" : "array",
            "x-title" : "Exclude Fields"
          },
          "style" : "form",
          "x-title" : "Exclude Fields"
        }, {
          "description" : "The unique id for the batch operation.",
          "in" : "path",
          "name" : "batch_id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Batch"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Batch"
                }
              }
            },
            "description" : ""
          },
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Problem_Detail_Document"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Problem_Detail_Document"
                }
              }
            },
            "description" : "An error generated by the Mailchimp API."
          }
        },
        "summary" : "Get batch operation status",
        "tags" : [ "batches" ],
        "x-custom-config" : {
          "methodNameSnake" : "status",
          "methodNameCamel" : "status"
        }
      }
    },
    "/batch-webhooks" : {
      "get" : {
        "deprecated" : false,
        "description" : "Get all webhooks that have been configured for batches.",
        "operationId" : "getBatchWebhooks",
        "parameters" : [ {
          "description" : "A comma-separated list of fields to return. Reference parameters of sub-objects with dot notation.",
          "explode" : false,
          "in" : "query",
          "name" : "fields",
          "schema" : {
            "items" : {
              "type" : "string"
            },
            "type" : "array",
            "x-title" : "Fields"
          },
          "style" : "form",
          "x-title" : "Fields"
        }, {
          "description" : "A comma-separated list of fields to exclude. Reference parameters of sub-objects with dot notation.",
          "explode" : false,
          "in" : "query",
          "name" : "exclude_fields",
          "schema" : {
            "items" : {
              "type" : "string"
            },
            "type" : "array",
            "x-title" : "Exclude Fields"
          },
          "style" : "form",
          "x-title" : "Exclude Fields"
        }, {
          "description" : "The number of records to return. Default value is 10. Maximum value is 1000",
          "in" : "query",
          "name" : "count",
          "schema" : {
            "default" : 10,
            "maximum" : 1000,
            "type" : "integer",
            "x-title" : "Count"
          },
          "x-title" : "Count"
        }, {
          "description" : "Used for [pagination](https://mailchimp.com/developer/marketing/docs/methods-parameters/#pagination), this it the number of records from a collection to skip. Default value is 0.",
          "in" : "query",
          "name" : "offset",
          "schema" : {
            "default" : 0,
            "type" : "integer",
            "x-title" : "Offset"
          },
          "x-title" : "Offset"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Batch_Webhooks"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Batch_Webhooks"
                }
              }
            },
            "description" : ""
          },
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Problem_Detail_Document"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Problem_Detail_Document"
                }
              }
            },
            "description" : "An error generated by the Mailchimp API."
          }
        },
        "summary" : "List batch webhooks",
        "tags" : [ "batchWebhooks" ],
        "x-custom-config" : {
          "methodNameSnake" : "list",
          "methodNameCamel" : "list"
        }
      },
      "post" : {
        "deprecated" : false,
        "description" : "Configure a webhook that will fire whenever any batch request completes processing.  You may only have a maximum of 20 batch webhooks.",
        "operationId" : "postBatchWebhooks",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Batch_Webhook_1"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Batch_Webhook"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Batch_Webhook"
                }
              }
            },
            "description" : ""
          },
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Problem_Detail_Document"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Problem_Detail_Document"
                }
              }
            },
            "description" : "An error generated by the Mailchimp API."
          }
        },
        "summary" : "Add batch webhook",
        "tags" : [ "batchWebhooks" ],
        "x-custom-config" : {
          "methodNameSnake" : "create",
          "methodNameCamel" : "create"
        },
        "x-codegen-request-body-name" : "body"
      }
    },
    "/batch-webhooks/{batch_webhook_id}" : {
      "delete" : {
        "deprecated" : false,
        "description" : "Remove a batch webhook. Webhooks will no longer be sent to the given URL.",
        "operationId" : "deleteBatchWebhookId",
        "parameters" : [ {
          "description" : "The unique id for the batch webhook.",
          "in" : "path",
          "name" : "batch_webhook_id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "content" : { },
            "description" : "Empty Response"
          },
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Problem_Detail_Document"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Problem_Detail_Document"
                }
              }
            },
            "description" : "An error generated by the Mailchimp API."
          }
        },
        "summary" : "Delete batch webhook",
        "tags" : [ "batchWebhooks" ],
        "x-custom-config" : {
          "methodNameSnake" : "remove",
          "methodNameCamel" : "remove"
        }
      },
      "get" : {
        "deprecated" : false,
        "description" : "Get information about a specific batch webhook.",
        "operationId" : "getBatchWebhook",
        "parameters" : [ {
          "description" : "A comma-separated list of fields to return. Reference parameters of sub-objects with dot notation.",
          "explode" : false,
          "in" : "query",
          "name" : "fields",
          "schema" : {
            "items" : {
              "type" : "string"
            },
            "type" : "array",
            "x-title" : "Fields"
          },
          "style" : "form",
          "x-title" : "Fields"
        }, {
          "description" : "A comma-separated list of fields to exclude. Reference parameters of sub-objects with dot notation.",
          "explode" : false,
          "in" : "query",
          "name" : "exclude_fields",
          "schema" : {
            "items" : {
              "type" : "string"
            },
            "type" : "array",
            "x-title" : "Exclude Fields"
          },
          "style" : "form",
          "x-title" : "Exclude Fields"
        }, {
          "description" : "The unique id for the batch webhook.",
          "in" : "path",
          "name" : "batch_webhook_id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Batch_Webhook"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Batch_Webhook"
                }
              }
            },
            "description" : ""
          },
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Problem_Detail_Document"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Problem_Detail_Document"
                }
              }
            },
            "description" : "An error generated by the Mailchimp API."
          }
        },
        "summary" : "Get batch webhook info",
        "tags" : [ "batchWebhooks" ],
        "x-custom-config" : {
          "methodNameSnake" : "get",
          "methodNameCamel" : "get"
        }
      },
      "patch" : {
        "deprecated" : false,
        "description" : "Update a webhook that will fire whenever any batch request completes processing.",
        "operationId" : "patchBatchWebhooks",
        "parameters" : [ {
          "description" : "The unique id for the batch webhook.",
          "in" : "path",
          "name" : "batch_webhook_id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Batch_Webhook_2"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Batch_Webhook"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Batch_Webhook"
                }
              }
            },
            "description" : ""
          },
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Problem_Detail_Document"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Problem_Detail_Document"
                }
              }
            },
            "description" : "An error generated by the Mailchimp API."
          }
        },
        "summary" : "Update batch webhook",
        "tags" : [ "batchWebhooks" ],
        "x-custom-config" : {
          "methodNameSnake" : "update",
          "methodNameCamel" : "update"
        },
        "x-codegen-request-body-name" : "body"
      }
    },
    "/template-folders" : {
      "get" : {
        "deprecated" : false,
        "description" : "Get all folders used to organize templates.",
        "operationId" : "getTemplateFolders",
        "parameters" : [ {
          "description" : "A comma-separated list of fields to return. Reference parameters of sub-objects with dot notation.",
          "explode" : false,
          "in" : "query",
          "name" : "fields",
          "schema" : {
            "items" : {
              "type" : "string"
            },
            "type" : "array",
            "x-title" : "Fields"
          },
          "style" : "form",
          "x-title" : "Fields"
        }, {
          "description" : "A comma-separated list of fields to exclude. Reference parameters of sub-objects with dot notation.",
          "explode" : false,
          "in" : "query",
          "name" : "exclude_fields",
          "schema" : {
            "items" : {
              "type" : "string"
            },
            "type" : "array",
            "x-title" : "Exclude Fields"
          },
          "style" : "form",
          "x-title" : "Exclude Fields"
        }, {
          "description" : "The number of records to return. Default value is 10. Maximum value is 1000",
          "in" : "query",
          "name" : "count",
          "schema" : {
            "default" : 10,
            "maximum" : 1000,
            "type" : "integer",
            "x-title" : "Count"
          },
          "x-title" : "Count"
        }, {
          "description" : "Used for [pagination](https://mailchimp.com/developer/marketing/docs/methods-parameters/#pagination), this it the number of records from a collection to skip. Default value is 0.",
          "in" : "query",
          "name" : "offset",
          "schema" : {
            "default" : 0,
            "type" : "integer",
            "x-title" : "Offset"
          },
          "x-title" : "Offset"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Template_Folders"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Template_Folders"
                }
              }
            },
            "description" : ""
          },
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Problem_Detail_Document"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Problem_Detail_Document"
                }
              }
            },
            "description" : "An error generated by the Mailchimp API."
          }
        },
        "summary" : "List template folders",
        "tags" : [ "templateFolders" ],
        "x-custom-config" : {
          "methodNameSnake" : "list",
          "methodNameCamel" : "list"
        }
      },
      "post" : {
        "deprecated" : false,
        "description" : "Create a new template folder.",
        "operationId" : "postTemplateFolders",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Template_Folder_1"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Template_Folder"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Template_Folder"
                }
              }
            },
            "description" : ""
          },
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Problem_Detail_Document"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Problem_Detail_Document"
                }
              }
            },
            "description" : "An error generated by the Mailchimp API."
          }
        },
        "summary" : "Add template folder",
        "tags" : [ "templateFolders" ],
        "x-custom-config" : {
          "methodNameSnake" : "create",
          "methodNameCamel" : "create"
        },
        "x-codegen-request-body-name" : "body"
      }
    },
    "/template-folders/{folder_id}" : {
      "delete" : {
        "deprecated" : false,
        "description" : "Delete a specific template folder, and mark all the templates in the folder as 'unfiled'.",
        "operationId" : "deleteTemplateFoldersId",
        "parameters" : [ {
          "description" : "The unique id for the template folder.",
          "in" : "path",
          "name" : "folder_id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "content" : { },
            "description" : "Empty Response"
          },
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Problem_Detail_Document"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Problem_Detail_Document"
                }
              }
            },
            "description" : "An error generated by the Mailchimp API."
          }
        },
        "summary" : "Delete template folder",
        "tags" : [ "templateFolders" ],
        "x-custom-config" : {
          "methodNameSnake" : "remove",
          "methodNameCamel" : "remove"
        }
      },
      "get" : {
        "deprecated" : false,
        "description" : "Get information about a specific folder used to organize templates.",
        "operationId" : "getTemplateFoldersId",
        "parameters" : [ {
          "description" : "A comma-separated list of fields to return. Reference parameters of sub-objects with dot notation.",
          "explode" : false,
          "in" : "query",
          "name" : "fields",
          "schema" : {
            "items" : {
              "type" : "string"
            },
            "type" : "array",
            "x-title" : "Fields"
          },
          "style" : "form",
          "x-title" : "Fields"
        }, {
          "description" : "A comma-separated list of fields to exclude. Reference parameters of sub-objects with dot notation.",
          "explode" : false,
          "in" : "query",
          "name" : "exclude_fields",
          "schema" : {
            "items" : {
              "type" : "string"
            },
            "type" : "array",
            "x-title" : "Exclude Fields"
          },
          "style" : "form",
          "x-title" : "Exclude Fields"
        }, {
          "description" : "The unique id for the template folder.",
          "in" : "path",
          "name" : "folder_id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Template_Folder"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Template_Folder"
                }
              }
            },
            "description" : ""
          },
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Problem_Detail_Document"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Problem_Detail_Document"
                }
              }
            },
            "description" : "An error generated by the Mailchimp API."
          }
        },
        "summary" : "Get template folder",
        "tags" : [ "templateFolders" ],
        "x-custom-config" : {
          "methodNameSnake" : "get",
          "methodNameCamel" : "get"
        }
      },
      "patch" : {
        "deprecated" : false,
        "description" : "Update a specific folder used to organize templates.",
        "operationId" : "patchTemplateFoldersId",
        "parameters" : [ {
          "description" : "The unique id for the template folder.",
          "in" : "path",
          "name" : "folder_id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Template_Folder_1"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Template_Folder"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Template_Folder"
                }
              }
            },
            "description" : ""
          },
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Problem_Detail_Document"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Problem_Detail_Document"
                }
              }
            },
            "description" : "An error generated by the Mailchimp API."
          }
        },
        "summary" : "Update template folder",
        "tags" : [ "templateFolders" ],
        "x-custom-config" : {
          "methodNameSnake" : "update",
          "methodNameCamel" : "update"
        },
        "x-codegen-request-body-name" : "body"
      }
    },
    "/campaign-folders" : {
      "get" : {
        "deprecated" : false,
        "description" : "Get all folders used to organize campaigns.",
        "operationId" : "getCampaignFolders",
        "parameters" : [ {
          "description" : "A comma-separated list of fields to return. Reference parameters of sub-objects with dot notation.",
          "explode" : false,
          "in" : "query",
          "name" : "fields",
          "schema" : {
            "items" : {
              "type" : "string"
            },
            "type" : "array",
            "x-title" : "Fields"
          },
          "style" : "form",
          "x-title" : "Fields"
        }, {
          "description" : "A comma-separated list of fields to exclude. Reference parameters of sub-objects with dot notation.",
          "explode" : false,
          "in" : "query",
          "name" : "exclude_fields",
          "schema" : {
            "items" : {
              "type" : "string"
            },
            "type" : "array",
            "x-title" : "Exclude Fields"
          },
          "style" : "form",
          "x-title" : "Exclude Fields"
        }, {
          "description" : "The number of records to return. Default value is 10. Maximum value is 1000",
          "in" : "query",
          "name" : "count",
          "schema" : {
            "default" : 10,
            "maximum" : 1000,
            "type" : "integer",
            "x-title" : "Count"
          },
          "x-title" : "Count"
        }, {
          "description" : "Used for [pagination](https://mailchimp.com/developer/marketing/docs/methods-parameters/#pagination), this it the number of records from a collection to skip. Default value is 0.",
          "in" : "query",
          "name" : "offset",
          "schema" : {
            "default" : 0,
            "type" : "integer",
            "x-title" : "Offset"
          },
          "x-title" : "Offset"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Campaign_Folders"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Campaign_Folders"
                }
              }
            },
            "description" : ""
          },
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Problem_Detail_Document"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Problem_Detail_Document"
                }
              }
            },
            "description" : "An error generated by the Mailchimp API."
          }
        },
        "summary" : "List campaign folders",
        "tags" : [ "campaignFolders" ],
        "x-custom-config" : {
          "methodNameSnake" : "list",
          "methodNameCamel" : "list"
        }
      },
      "post" : {
        "deprecated" : false,
        "description" : "Create a new campaign folder.",
        "operationId" : "postCampaignFolders",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Campaign_Folder_1"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Campaign_Folder"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Campaign_Folder"
                }
              }
            },
            "description" : ""
          },
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Problem_Detail_Document"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Problem_Detail_Document"
                }
              }
            },
            "description" : "An error generated by the Mailchimp API."
          }
        },
        "summary" : "Add campaign folder",
        "tags" : [ "campaignFolders" ],
        "x-custom-config" : {
          "methodNameSnake" : "create",
          "methodNameCamel" : "create"
        },
        "x-codegen-request-body-name" : "body"
      }
    },
    "/campaign-folders/{folder_id}" : {
      "delete" : {
        "deprecated" : false,
        "description" : "Delete a specific campaign folder, and mark all the campaigns in the folder as 'unfiled'.",
        "operationId" : "deleteCampaignFoldersId",
        "parameters" : [ {
          "description" : "The unique id for the campaign folder.",
          "in" : "path",
          "name" : "folder_id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "content" : { },
            "description" : "Empty Response"
          },
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Problem_Detail_Document"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Problem_Detail_Document"
                }
              }
            },
            "description" : "An error generated by the Mailchimp API."
          }
        },
        "summary" : "Delete campaign folder",
        "tags" : [ "campaignFolders" ],
        "x-custom-config" : {
          "methodNameSnake" : "remove",
          "methodNameCamel" : "remove"
        }
      },
      "get" : {
        "deprecated" : false,
        "description" : "Get information about a specific folder used to organize campaigns.",
        "operationId" : "getCampaignFoldersId",
        "parameters" : [ {
          "description" : "A comma-separated list of fields to return. Reference parameters of sub-objects with dot notation.",
          "explode" : false,
          "in" : "query",
          "name" : "fields",
          "schema" : {
            "items" : {
              "type" : "string"
            },
            "type" : "array",
            "x-title" : "Fields"
          },
          "style" : "form",
          "x-title" : "Fields"
        }, {
          "description" : "A comma-separated list of fields to exclude. Reference parameters of sub-objects with dot notation.",
          "explode" : false,
          "in" : "query",
          "name" : "exclude_fields",
          "schema" : {
            "items" : {
              "type" : "string"
            },
            "type" : "array",
            "x-title" : "Exclude Fields"
          },
          "style" : "form",
          "x-title" : "Exclude Fields"
        }, {
          "description" : "The unique id for the campaign folder.",
          "in" : "path",
          "name" : "folder_id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Campaign_Folder"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Campaign_Folder"
                }
              }
            },
            "description" : ""
          },
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Problem_Detail_Document"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Problem_Detail_Document"
                }
              }
            },
            "description" : "An error generated by the Mailchimp API."
          }
        },
        "summary" : "Get campaign folder",
        "tags" : [ "campaignFolders" ],
        "x-custom-config" : {
          "methodNameSnake" : "get",
          "methodNameCamel" : "get"
        }
      },
      "patch" : {
        "deprecated" : false,
        "description" : "Update a specific folder used to organize campaigns.",
        "operationId" : "patchCampaignFoldersId",
        "parameters" : [ {
          "description" : "The unique id for the campaign folder.",
          "in" : "path",
          "name" : "folder_id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Campaign_Folder_1"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Campaign_Folder"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Campaign_Folder"
                }
              }
            },
            "description" : ""
          },
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Problem_Detail_Document"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Problem_Detail_Document"
                }
              }
            },
            "description" : "An error generated by the Mailchimp API."
          }
        },
        "summary" : "Update campaign folder",
        "tags" : [ "campaignFolders" ],
        "x-custom-config" : {
          "methodNameSnake" : "update",
          "methodNameCamel" : "update"
        },
        "x-codegen-request-body-name" : "body"
      }
    },
    "/campaigns" : {
      "get" : {
        "deprecated" : false,
        "description" : "Get all campaigns in an account.",
        "operationId" : "getCampaigns",
        "parameters" : [ {
          "description" : "A comma-separated list of fields to return. Reference parameters of sub-objects with dot notation.",
          "explode" : false,
          "in" : "query",
          "name" : "fields",
          "schema" : {
            "items" : {
              "type" : "string"
            },
            "type" : "array",
            "x-title" : "Fields"
          },
          "style" : "form",
          "x-title" : "Fields"
        }, {
          "description" : "A comma-separated list of fields to exclude. Reference parameters of sub-objects with dot notation.",
          "explode" : false,
          "in" : "query",
          "name" : "exclude_fields",
          "schema" : {
            "items" : {
              "type" : "string"
            },
            "type" : "array",
            "x-title" : "Exclude Fields"
          },
          "style" : "form",
          "x-title" : "Exclude Fields"
        }, {
          "description" : "The number of records to return. Default value is 10. Maximum value is 1000",
          "in" : "query",
          "name" : "count",
          "schema" : {
            "default" : 10,
            "maximum" : 1000,
            "type" : "integer",
            "x-title" : "Count"
          },
          "x-title" : "Count"
        }, {
          "description" : "Used for [pagination](https://mailchimp.com/developer/marketing/docs/methods-parameters/#pagination), this it the number of records from a collection to skip. Default value is 0.",
          "in" : "query",
          "name" : "offset",
          "schema" : {
            "default" : 0,
            "type" : "integer",
            "x-title" : "Offset"
[...]
